<ion-tabs>
  <app-title-bar></app-title-bar>
  <ion-tab-bar slot="bottom" style="background-color: red">
    <ion-tab-button tab="tab1" style="background-color: red">
      <ion-icon aria-hidden="true" name="map-outline" style="color: white"></ion-icon>
      <ion-label style="color: white">Map</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2" style="background-color: red">
      <ion-icon aria-hidden="true" name="help-outline" style="color: white"></ion-icon>
      <ion-label style="color: white">FAQ</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3" style="background-color: red">
      <ion-icon aria-hidden="true" name="person-outline" style="color: white"></ion-icon>
      <ion-label style="color: white">Profile</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
