
<ion-content [fullscreen]="true">

  <div style="margin-left:100px;margin-right:100px; margin-top: 100px;">
  <h1>UC Campus Map</h1>
  <div class="map" id="map" class="match-parent" style="height: 800px"></div>

  <div class="form-popup" id="locationType" style="margin-top:100px">

    <form class="form-container">
      <h1>Select Type of Location</h1>

      <button id="business" type="reset" class="location-type business">Business</button><br>
      <button id="event" type="reset" class="location-type event">Event</button>
    </form>
  </div>
  </div>
  <div class="form-popup" id="businessType" style="margin-top: 100px;">
    <form class="form-container">
      <h1>New Business Request</h1>

      <label for="name"><b>Name</b></label>
      <input type="text" name="name" required>

      <label for="address"><b>Address</b></label>
      <input type="text" name="address" required>

      <label for="number"><b>Phone Number</b></label>
      <input type="text" name="number" required>

      <label for="website"><b>Website</b></label>
      <input type="text" name="website" required>

      <label for="details"><b>Additional Details</b></label>
      <input type="text" name="details" required>

      <button id="submit1" type="reset" class="btn">Submit</button>
      <button id="cancel1" type="reset" class="btn cancel">Cancel</button>
    </form>
  </div>

  <div class="form-popup" id="eventType">
    <form class="form-container">
      <h1>New Event Request</h1>

      <label for="name"><b>Name</b></label>
      <input type="text" name="name" required>

      <label for="location"><b>Location</b></label>
      <input type="text" name="location" required>

      <label for="date"><b>Date</b></label>
      <input type="date" name="date" required>

      <label for="time"><b>Time</b></label>
      <input type="time" name="time" required>

      <label for="details"><b>Additional Details</b></label>
      <input type="text" name="details" required>

      <button id="submit2" type="reset" class="btn">Submit</button>
      <button id="cancel2" type="reset" class="btn cancel">Cancel</button>
    </form>
  </div>


  <h1 style="margin-left: 100px">Business Locations</h1>
  <ion-accordion-group #accordionGroup style = "margin-right: 100px; margin-left: 100px">
    <ion-accordion *ngFor="let business of baseBusinesses.getBaseBusinessNames(); let i = index">
      <ion-item slot="header" color="light">
        <ion-label><b>{{business}}</b></ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <ion-row style="margin-bottom: 10px"> <b style="margin-right:10px">Address:</b> {{baseBusinesses.getBaseBusinessAddresses()[i]}}</ion-row>
        <ion-row style="margin-bottom: 10px"> <b style="margin-right:10px">Phone Number:</b> {{baseBusinesses.getBaseBusinessPhoneNumbers()[i]}}</ion-row>
        <ion-row style="margin-bottom: 10px"> <b style="margin-right:10px">Website: </b> {{baseBusinesses.getBaseBusinessWebsites()[i]}}</ion-row>
        <ion-row style="margin-bottom: 10px"> <b>Hours:</b> <div [innerHTML]="baseBusinesses.getBaseBusinessHours()[i]"></div></ion-row>
        <ion-row style="margin-bottom: 10px"> <b>Deals:</b> <div [innerHTML]="baseBusinesses.getBaseBusinessDeals()[i]"></div></ion-row>
      </div>
    </ion-accordion>
  </ion-accordion-group>
  <h2 style="margin-left: 100px">Events</h2>
  <ion-accordion-group #accordionGroup style = "margin-right: 100px; margin-left: 100px; margin-bottom: 200px">
    <ion-accordion *ngFor="let event of baseEvents.getBaseEventTitles(); let i = index">
      <ion-item slot="header" color="light">
        <ion-label><b>{{event}}</b></ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <ion-row style="margin-bottom: 10px"> <b style="margin-right:10px">Address:</b> {{baseEvents.getBaseEventDates()[i]}}</ion-row>
        <ion-row style="margin-bottom: 10px"> <b style="margin-right:10px">Phone Number:</b> {{baseEvents.getBaseEventTimes()[i]}}</ion-row>
        <ion-row style="margin-bottom: 10px"> <b style="margin-right:10px">Website: </b> {{baseEvents.getBaseEventLocations()[i]}}</ion-row>
      </div>
    </ion-accordion>
  </ion-accordion-group>
</ion-content>
