.avatar
{
    margin-bottom: 0px;
    margin-right:15px;
}


.profile-banner
{
    text-align: center;
    font-size: 24pt;
    height: 75px;
}


.profile-settings
{
    max-width: 340px;
    padding:0px;

}
.profile-page
{
    margin: auto;
    width: 50%;
}
.profile-picture
{
    height: 150px;
    width: 150px;
    max-width: none;
    border-radius: 50%;
}

.username
{
    margin-top: 100px;
}

.user-settings
{
    height:250px;
}

