.avatar
{
    margin-top: 25px;
    margin-left:550px;
    margin-bottom: 0px;
}

.profile-banner
{
    text-align: center;
    font-size: 24pt;
    height: 75px;
}

.profile-page
{
    //margin-left: 200px;
}

.profile-settings
{
    max-width: 340px;
    padding:0px;

}

.profile-picture
{
    height: 150px;
    width: 150px;
    max-width: none;
    border-radius: 50%;
}

.username
{
    margin-top: 100px;
}

.user-settings
{
    height:250px;
}

.my-businesses
{
    width:675px;
    margin-left:550px;
}

