<ion-header [translucent]="true">
    <ion-toolbar>
      <ion-title>
        
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  
  <ion-content [fullscreen]="true">
    <ion-header collapse="condense">
      <ion-toolbar>
        <ion-title>My Locations</ion-title>
      </ion-toolbar>
    </ion-header>
  
  
  
    <ion-card>
      <img alt="Silhouette of mountains" src="https://www.cincinnati.com/gcdn/-mm-/75950a1ef33f59d80d4df5e84ed234eb6d29db13/c=0-104-1024-683/local/-/media/USATODAY/GenericImages/2013/09/26/1380246606000-ChebaHut.jpg" />
      <ion-card-header>
        <ion-card-title>Cheeba Hut</ion-card-title>
        <ion-card-subtitle>Clifton, OH</ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content>
        Average Rating: 3.7 
      </ion-card-content>
    </ion-card>
  
    <ion-card>
      <img src="https://upload.wikimedia.org/wikipedia/en/3/33/Krusty_Krab_230b.png" />
      <ion-card-header>
        <ion-card-title>Krusty Krab</ion-card-title>
        <ion-card-subtitle>Bikini Bottom</ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content>
        Average Rating: 5.0 
      </ion-card-content>
    </ion-card>
  </ion-content>